@model Mvc6.Models.Productos

@{
    Layout = null;
}

@using (Html.BeginForm("AddOrEdit", "Productos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.id)
    @Html.HiddenFor(model => model.imagen)
    <div class="col-lg-3  col-sm-12">
        <div class="" height="100" width="80px">
            <img src="/Imagenes/@Html.DisplayFor(model => model.imagen)" alt="" width="80">
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.nombre, new { @class = "control-label" })
        @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <br />
    <div class="form-group">
        <label for="file">Imagen</label>
        <input type="file" name="file" />
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.stock, new { @class = "control-label" })
        @Html.EditorFor(model => model.stock, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.descripcion, new { @class = "control-label" })
        @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.precio, new { @class = "control-label" })
        @Html.EditorFor(model => model.precio, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <br />

    <div class="form-group">
        <input type="submit" value="Guardar" class="btn btn-primary" />
    </div>
}
